# OSX
#
.DS_Store

# XDE
.expo/

# VSCode
.vscode/
jsconfig.json

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace

# Android/IJ
#
.classpath
.cxx
.gradle
.idea
.project
.settings
local.properties
*.iml
ReadMe.html
ReadMe.pdf

# Cocoapods
#
/ios/Pods
**/Podfile.lock

# node.js
#
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Expo
.expo/*

#environment
**/.env

# Flutter/Dart/Pub related
**/pubspec.lock
**/*.mocks.dart
*.log
**/doc
**/untranslated.txt
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/.fvm
**/.fvmrc

# Fastlane
**/fastlane/report.xml
**/fastlane/reports
**/fastlane/output
**/vendor/
**/.bundle
