# A reusable workflow file for building the native apps based on the inputs.

name: Build Example App

on:
  workflow_call:
    inputs:
      build-android:
        description: "Tells whether Android app build is needed"
        default: false
        required: false
        type: boolean
      build-ios:
        description: "Tells whether iOS app build is needed"
        default: false
        required: false
        type: boolean
    secrets:
      GITHUB_USERNAME:
        required: false
      GITHUB_PERSONAL_ACCESS_TOKEN:
        required: false

env:
  FLUTTER_VERSION: '3.0.1'
  XCODE_VERSION: '14.1'
  JAVA_VERSION: '11'

jobs:
  build_app:
    name: Build
    runs-on: macos-latest

    steps:
      # Checkout the repository under $GITHUB_WORKSPACE
      - name: Checkout Project
        uses: actions/checkout@v3

      # Make sure the stable version of Flutter is available
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: 'stable'
          cache: true
          cache-key: ${{ runner.os }}-flutter-cache-${{ env.FLUTTER_VERSION }}

      # Resolve Flutter packages
      - name: Resolve Flutter Packages
        run: flutter pub get

      #################################
      # Build iOS Example (if needed) #
      #################################

      # Ensure correct Xcode version is installed.
      - name: Setup Xcode
        if: ${{ inputs.build-ios }}
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ env.XCODE_VERSION }}

      # Build iOS App
      - name: Build iOS App
        if: ${{ inputs.build-ios }}
        run: flutter build ios --no-codesign

      #####################################
      # Build Android Example (if needed) #
      #####################################

      # Ensure correct Java version is installed
      - name: Setup Java JDK
        if: ${{ inputs.build-android }}
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: ${{ env.JAVA_VERSION }}

      # Build Android App
      - name: Build Android App
        if: ${{ inputs.build-android }}
        run: flutter build apk --debug
        env:
          GITHUB_USERNAME: ${{ secrets.GITHUB_USERNAME }}
          GITHUB_PERSONAL_ACCESS_TOKEN: ${{ secrets.GITHUB_PERSONAL_ACCESS_TOKEN }}